<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Καλωσήρθατε στη <span></span>SerEdu</h2>
              <p> Ο μοναδικός ιστότοπος των Σερρών ο οποίος με ένα κλικ φέρνει στα πόδια σου όλα τα Κέντρα Ξένων Γλωσσών, Φροντιστήρια Μέσης Εκπαίδευσης και ΚΔΑΠ!</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Είσαι ιδιοκτήτης κάποιου Κέντρου Εκπαίδευσης;</h2>
              <p> Διαφημίσου μέσα από την πρωτότυπη ιστοσελίδα μας. </p>

            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Αναζητάς κάποιο Κέντρο Εκπαίδευσης στις Σέρρες;</h2>
              <p> Είμαστε εδώ για να σε βοηθήσουμε να βρείς το κατάλληλο Κέντρο Ξένων Γλωσσών, Φροντιστήριο Μέσης Εκπαίδευσης ή ΚΔΑΠ!</p>

            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

  </main><!-- End #main -->
{% endblock %}

